:root {
    --min-height: max-content;
}

#layout {
    position: absolute;
    z-index: 999;
    margin: -60px 45% auto 15%;
    display: flex;
    width: 428px;
    max-width: 448px;
    min-height: min(547px, var(--min-height));
    flex-direction: column;
    align-items: stretch;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(211, 211, 211, .4);
    box-shadow: 0px 0px 3px 2px rgb(211, 211, 211, .4);
}

.top-controls {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    max-height: 48px;
    margin-top: 4px;
    overflow: hidden;
    padding-bottom: 24px;
    border-radius: 2px 2px 0 0;
}

.control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: grey;
    cursor: pointer;
}

.control:hover {
    background-color: rgb(211, 211, 211, .4);
    outline: none;
}

.control:last-child {
    margin-right: 15px;
}

.info {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 1fr;
    gap: 20px 10px;
}

.icon {
    width: 48px;
    padding-left: 16px;
    max-height: 40px;
    flex-shrink: 0;
    align-items: center;
}

.title {
    margin-right: auto;
    font-family: Arial, sans-serif;
    width: 231px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #3c4043;
}

.event-link {
    display: flex;
    flex-flow: row nowrap;
}

.event-name {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #3c4043;
    max-height: 56px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.event-button {
    text-decoration: none;
    width: 183.45px;
    min-height: 36px;
    font-family: Google Sans, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 20px;
    color: #ffffff;
    background-color: #1a73e8;
    padding: 6px 16px;
    border-radius: 8px;
}

.event-button:hover {
    opacity: 0.8;
}

.link-text {
    margin-top: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #5f6368;
}

.by-phone {
    line-height: 20px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2px;
}

.phone {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #3c4043;
}

.guests {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #3c4043;
}

.guests span:nth-of-type(2) {
    visibility: hidden;
    margin-left: 100px;
}

.guests:hover span:nth-of-type(2) {
    visibility: visible;
}

.guests span:last-of-type {
    margin-right: 15px;
}

.guest-image {
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

.guest-image::after {
    content: 'brbrb';
    position: absolute;
    height: 10px;
    width: 10px;
}

.guests-list {
    margin-top: -20px;
}

.guest {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #3c4043;
    margin-top: 10px;
}

.check {
    position: absolute;
    top: 10px;
    left: 15px;
}

.attendance {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #5f6368;
}

.be-early {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #3c4043;
}

.going {
    height: 48px;
    min-height: 48px;
    position: relative;
    background: white;
    align-items: center;
    border-top: #dadce0 1px solid;
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: stretch;
    flex-flow: row wrap;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    column-gap: 10px;
    margin-top: 20px;
    transition: all 200ms ease-in;
}

.btn-yes {
    width: 75px;
    height: 28px;
    border-radius: 25px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "Google Sans", 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 26px;
}

.btn-no {
    width: 46px;
    height: 26px;
    border-radius: 35px;
    background: transparent;
    text-align: center;
    font-family: 'Google Sans', Arial, sans-serif;
    font-weight: 550;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: .3px;
}

.btn-maybe {
    width: 64px;
    height: 28px;
    border-radius: 35px;
    text-align: center;
    font-family: 'Google Sans', Arial, sans-serif;
    font-weight: 550;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: .3px;
}

.btn-expand {
    width: 20px;
    height: 20px;
    border: none;
    line-height: 20px;
    text-align: center;
    border-radius: 35px;
    margin-top: 4px;
}

.btn-expand:hover {
    background-color: rgb(211, 211, 211, .4);
    outline: none;
}

.btns {
    border: 1px solid rgb(211, 211, 211, .4);
    cursor: pointer;
}

.btns:hover {
    background-color: rgb(211, 211, 211, .4);
    outline: none;
}

.seperator {
    height: 28px;
    border-left: 1px solid rgb(211, 211, 211, .4);
}

.question {
    margin-right: auto;
    font-family: 'Google Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .3px;
}

.notes {
    align-items: center;
    border-top: #dadce0 1px solid;
    display: flex;
    flex: none;
    width: 428px;
    height: 0px;
    overflow: hidden;
    margin-top: 10px;
    justify-content: flex-end;
    column-gap: 10px;
    padding-left: 16px;
    padding-right: 10px;
    margin-right: -16px;
    transition-property: height;
    transition-delay: 200ms;
}

.notes.notes-hidden {
    transition-delay: 0s;
}

.btn-propose {
    width: 140px;
    height: 26px;
    border-radius: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    font-size: 12px;
    font-family: 'Google Sans', Arial, sans-serif;
    font-weight: 550;
    letter-spacing: .3px;
    text-transform: none;
    text-align: left;
    line-height: 26px;
    text-align: center;
}

.btn-note {
    width: 77.5px;
    height: 26px;
    border-radius: 35px;
    line-height: 26px;
    font-family: 'Google Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .3px;
    text-transform: none;
    text-align: center;
    color: #3c4043;
}