<div class="daily-calendar-header">
    <div class="daily-calendar-weekday"
        [ngClass]="{'current-weekday': currentDate.getDate() == shownDate.getDate() && 
        currentDate.getMonth() == shownDate.getMonth() && 
        currentDate.getFullYear() == shownDate.getFullYear()}">
        {{ dayOfWeek }}
    </div>
    <div class="daily-calendar-date" 
        [ngClass]="{'current': currentDate.getDate() == shownDate.getDate() && 
            currentDate.getMonth() == shownDate.getMonth() && 
            currentDate.getFullYear() == shownDate.getFullYear()}">
        {{ selectedDate }}
    </div>
</div>
<div id="daily-calendar-layout">
    <div *ngFor="let hourEvent of hoursAndEvents | keyvalue" class="time">
        <span class="hour">
           {{ hourEvent.value.hour }}
        </span>
        <span *ngIf="hourEvent.value.events.length > 0" class="event-layout">
            <span *ngFor="let event of hourEvent.value.events" class="hourly-event"
                [style.height.px]="event.interval > 0 ? event.interval * 48 : 48">
                {{ event.name }} {{ event.duration }}      
            </span>
        </span>
    </div>
</div>