<div class="daily-calendar-header">
    <div class="daily-calendar-weekday"
        [ngClass]="{'current-weekday': currentDate.getDate() == shownDate.getDate() && 
        currentDate.getMonth() == shownDate.getMonth() && 
        currentDate.getFullYear() == shownDate.getFullYear()}">
        {{ dayOfWeek }}
    </div>
    <div class="daily-calendar-date" 
        [ngClass]="{'current': currentDate.getDate() == shownDate.getDate() && 
            currentDate.getMonth() == shownDate.getMonth() && 
            currentDate.getFullYear() == shownDate.getFullYear()}">
        {{ selectedDate }}
    </div>
</div>
<div id="daily-calendar-layout">
    <div *ngFor="let hourEvent of hoursAndEvents | keyvalue" class="time">
        <span class="hour">
           {{ hourEvent.value.hour }}
        </span>
        <span *ngFor="let event of hourEvent.value.events; let i = index" class="hourly-event"
            [style.height.px]="event.elemHeight"
            [style.z-index]="i + 1"
            [style.margin-left.px]="event.marginLeft">
            {{ event.name }} {{ event.duration }}      
        </span>
    </div>
</div>